header {
	width: 900px;
	margin: auto;
}
.p1 {
	background-color: green;
}
.p1:hover {
	background-color: yellow;
}
.p1:active {
	background-color: red;
}
.p2 {
	background-color: purple;
}
.p2:hover {
	background-color: brown;
}
.p2:active {
	background-color: #F1E51E;
}
input:focus {
	border: solid green;
}
.p3:nth-child(2n+1){
	background-color: gray;
}
.p4:first-letter {
	font-size: 2em;
	color: red;
	font-family: Georgia;
}
.p5::after {
	content: "*";
}
.p6::before {
	content: "\2602";
}
figure {
	width: 80px; height: 50px; margin-left: 26px;
	background: black;
	position: relative;
}
figure:before {
	content: "";
	width: 0; height: 0;
	position: absolute; right: 100%; top: calc(50% - 12px);
	border-top: 12px solid transparent;
	border-right: 24px solid black;
	border-bottom: 12px solid transparent;
}