body {
	background: #CAC8C8;
}
.wrapper {
	margin: 60px auto;
	width: 700px;
	overflow: hidden;
}
.conteiner {
	background: white;
	overflow: hidden;
}
p {
	font-family: Arial;
	font-size: 18px;
	margin-left: 40px;
	margin-right: 40px;
	line-height: 30px;
}
span {
	font-weight: bold;
}
.topic {
	text-align: center;
	margin-top: 40px;
}
.box-fat-left {
	width: 320px;
	text-align: center;
	float: left;
	margin-left: 20px;
}
.box-fat-right {
	width: 320px;
	text-align: center;
	float: right;
	margin-right: 20px;
}
.tex-fat {
	text-align: justify;
	margin: auto;
	width: 280px;
	height: 90px;
}
.clic {
	height: 50px;
}
.clic-max {
	padding: 10px 90px;
	color: white;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	font-family: Arial;
	font-size: 18px;
	background-color: #CC4E4E;
	border-radius: 10px;
}
.box-right {
	width: 220px;
	float: right;
	text-align: center;
	margin-right: 20px;
}
.box-left {
	width: 220px;
	float: left;
	text-align: center;
	margin-left: 20px;
}
.box-center {
	width: 220px;
	float: left;
	text-align: center;
	margin: 0;
}
.clic {
	height: 50px;
}
.clic-mini {
	padding: 10px 40px;
	color: white;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	font-family: Arial;
	font-size: 18px;
	background-color: #CC4E4E;
	border-radius: 10px;
}
.tex {
	width: 180px;
	height: 150px;
	margin: auto;
	text-align: justify;
}
.admin {
	font-style: italic;
}
.footer-clic {
	height: 50px;
}
.clic_max {
	margin-left: 30px;
	padding: 10px 220px;
	color: white;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	font-size: 18px;
	font-family: Arial;
	background-color: #CC4E4E;
	border-radius: 10px;
}
.tex-and {
	width: 450px;
	color: white;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	padding-top: 50px;
	margin: auto;
}
.non {
	color: white;
}