@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneue-thincond-webfont.ttf');
    font-weight: normal;
    font-style: normal;
}
body {
	margin: 0;
	font-family: 'Helvetica Neue', Arial, sans-serif;
}
.wrapper {
    width: 100%;
	background: #193c5a;
	overflow: hidden;
}
.header-top {
	width: 970px;
	height: 100px;
	margin-right: auto;
    margin-left: auto;
}
.topic_up {
	font-size: 30px;
	text-transform: uppercase;
	color: white;
	letter-spacing: 20px;
    font-weight: normal;
    float: right;
}
.topic_and {
	font-size: 30px;
	text-transform: uppercase;
	color: #908E8E;
	letter-spacing: 20px;
    float: right;
}
.wrap {
	background: #e3ecf1;
	overflow: hidden;
}
.container {
	width: 970px;
	margin-right: auto;
    margin-left: auto;
}
.main {
	margin-top: 0;
	width: 675px;
	padding: 40px;
    font-size: 25px;
    line-height: 50px;
	float: left;
	margin: 0;
	text-align: justify;
	background: #CED7DC;
}
.sidebar {
	width: 200px;
}
.footer {
	background: #193c5a;
}
.contacts-footer {
	width: 970px;
	margin-right: auto;
    margin-left: auto;
	font-size: 18px;
    padding: 15px;
    letter-spacing: 5px;
    color: white;
    font-weight: both;
}
.contacts_header {
	border-bottom: 4px solid #E19A9A;
    padding-bottom: 15px;
}
.contacts_tel {
	color: white;
	font-weight: bold;
	text-decoration: none;
}