.wrapper {
	width: 600px;
	height: 500px;
	margin: auto;
	background: #75c6bf;
}
.clouds {
	position: relative;
	top: 0px;
	left: 220px;
	z-index: 2
}
.wooden {
	position: relative;
	top: 190px;
	left: 40px;
	z-index: 1
}
.water {
	position: relative;
	top: 338px;
	z-index: 2
}
.world {
	position: relative;
	top: -130px;
}